In [ ]:
import numpy as np 
import matplotlib.pyplot as plt 
import scipy.io as sio
import os
import pandas as pd
import tqdm

In [ ]:
folder = '/localdrive/drive10/jj/mdtf/wkdir/MDTF_QBOi.EXP1.AMIP.001_2008_2012/etc_composites/tmp/RUNDIR/tmprun/read_tmprun/'

fn = 'out_tmprun_output_2008_2012.txt'
in_file = os.path.join(folder, fn)

out_file = '/localdrive/drive10/jj/mdtf/inputdata/model/QBOi.EXP1.AMIP.001/6hr/track_output.txt'
print(os.path.exists(out_file))

In [3]:
main_df = pd.read_csv(in_file, sep='\s+')

# df = main_df.iloc[:, [0, 1, 2, 3, 5, 6, 8, 11, 14, 15]].copy()
# df.columns = ['yy', 'mm', 'dd', 'hh', 'lat', 'lon', 'slp', 'flags', 'csi', 'usi']
df = main_df.iloc[:, [0, 1, 2, 3, 5, 6, 8, 15]].copy()
df.columns = ['yy', 'mm', 'dd', 'hh', 'lat', 'lon', 'slp', 'usi']
df.lat = 90. - df.lat/100. 
df.lon = df.lon/100.

In [4]:
# rearranging the track output file into a general format
out_df = df.copy()
out_df.lat = (90. - out_df.lat)*100.
out_df.lon = out_df.lon * 100.
uni_usi = out_df.usi.unique()

# replacing the USI values into reasonable unique identifiers
usi_vals = out_df.usi.values
for i, i_usi in tqdm.tqdm_notebook(enumerate(uni_usi), total=len(uni_usi)): 
    ind = [usi_vals == i_usi]
    usi_vals[ind] = i
#     out_df.loc[df['usi'] == i_usi, 'usi'] = i

out_df['usi'] = usi_vals

/home/jj/anaconda3/envs/mcms/lib/python3.6/site-packages/ipykernel_launcher.py:9: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  if __name__ == '__main__':

HBox(children=(FloatProgress(value=0.0, max=19854.0), HTML(value='')))

/home/jj/anaconda3/envs/mcms/lib/python3.6/site-packages/ipykernel_launcher.py:11: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  # This is added back by InteractiveShellApp.init_path()

In [5]:
# printing the out_df pandas dataframe into a csv file
out_df.to_csv(out_file, header=None, index=None, sep=' ', mode='w', float_format='%.0f')

In [8]:
# checking if i saved stuff correctly 
print(out_df.head())
print(df.head())

new_x = (90. - df.lat.values)*100. 
re_x = (90. - out_df.lat.values/100)

print(new_x)
print(re_x)

     yy  mm  dd  hh    lat      lon      slp usi
0  2008   1   1   6  288.0  12348.0   988377   0
1  2008   1   1  12  328.0  13766.0   995335   0
2  2008   1   1  18  402.0  13387.0  1000809   0
3  2008   1   2   0  384.0  14874.0  1005339   0
4  2008   1   2   6  378.0  15042.0  1008890   0
     yy  mm  dd  hh    lat     lon      slp                   usi
0  2008   1   1   6  87.12  123.48   988377  20080101000020011250
1  2008   1   1  12  86.72  137.66   995335  20080101000020011250
2  2008   1   1  18  85.98  133.87  1000809  20080101000020011250
3  2008   1   2   0  86.16  148.74  1005339  20080101000020011250
4  2008   1   2   6  86.22  150.42  1008890  20080101000020011250
[  288.   328.   402. ... 17138. 17022. 17082.]
[ 87.12  86.72  85.98 ... -81.38 -80.22 -80.82]